<!DOCTYPE html>
{% load static %}
<title>风云榜</title>
<link href="{% static 'app/css/common.css' %}" rel="stylesheet" type="text/css">
<!--射手 tmpl-->



 
<!--main-->
<div class="wrap scorers clearfix">
   <div class="mainTop">
	   <h3>风云榜</h3><span class="tag"></span>
	  
   </div>
   <div class="title2 clearfix">
      <ul class="dataSel">
	    <li class="w20"><span>名次</span><i num="0" style="display: inline;"></i></li>
        <li class="w21"><span>球队</span><i num="1" style="display: inline;"></i></li>
        <li class="w22"><span>新闻数</span><i num="2" style="display: inline;"></i></li>
	  </ul>
   </div>
   <div class="data_table clearfix" id="dataTable">

		<p class="clearfix">
          <span class="w20"><em class="first">1</em></span>
          <span class="w21"><a href="/app/team/team_239.html"  target="_blank">曼联</a> </span>
          <span class="w22">949</span>
        </p>
		
		<p class="clearfix">
          <span class="w20"><em class="second">2</em></span>
          <span class="w21"><a href="/app/team/team_279.html"  target="_blank">利物浦</a> </span>
          <span class="w22">744</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="second">3</em></span>
          <span class="w21"><a href="/app/team/team_444.html"  target="_blank">切尔西</a> </span>
          <span class="w22">633</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">4</em></span>
          <span class="w21"><a href="/app/team/team_240.html"  target="_blank">曼城</a> </span>
          <span class="w22">611</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">5</em></span>
          <span class="w21"><a href="/app/team/team_567.html"  target="_blank">阿森纳</a> </span>
          <span class="w22">601</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">6</em></span>
          <span class="w21"><a href="/app/team/team_175.html"  target="_blank">托特纳姆热刺</a> </span>
          <span class="w22">253</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">7</em></span>
          <span class="w21"><a href="/app/team/team_68.html"  target="_blank">西汉姆联</a> </span>
          <span class="w22">188</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">8</em></span>
          <span class="w21"><a href="/app/team/team_293.html"  target="_blank">莱斯特城</a> </span>
          <span class="w22">178</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">9</em></span>
          <span class="w21"><a href="/app/team/team_112.html"  target="_blank">水晶宫</a> </span>
          <span class="w22">166</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">10</em></span>
          <span class="w21"><a href="/app/team/team_551.html"  target="_blank">埃弗顿</a> </span>
          <span class="w22">159</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">11</em></span>
          <span class="w21"><a href="/app/team/team_571.html"  target="_blank">阿斯顿维拉</a> </span>
          <span class="w22">146</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">12</em></span>
          <span class="w21"><a href="/app/team/team_25.html"  target="_blank">南安普顿</a> </span>
          <span class="w22">141</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">13</em></span>
          <span class="w21"><a href="/app/team/team_300.html"  target="_blank">狼队</a> </span>
          <span class="w22">135</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">14</em></span>
          <span class="w21"><a href="/app/team/team_498.html"  target="_blank">伯恩利</a> </span>
          <span class="w22">134</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">15</em></span>
          <span class="w21"><a href="/app/team/team_194.html"  target="_blank">诺维奇</a> </span>
          <span class="w22">122</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">16</em></span>
          <span class="w21"><a href="/app/team/team_176.html"  target="_blank">沃特福德</a> </span>
          <span class="w22">105</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">17</em></span>
          <span class="w21"><a href="/app/team/team_507.html"  target="_blank">布莱顿</a> </span>
          <span class="w22">104</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">18</em></span>
          <span class="w21"><a href="/app/team/team_674.html"  target="_blank">伯恩茅斯</a> </span>
          <span class="w22">78</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">19</em></span>
          <span class="w21"><a href="/app/team/team_44.html"  target="_blank">谢菲尔德联</a> </span>
          <span class="w22">65</span>
        </p>
		<p class="clearfix">
          <span class="w20"><em class="">20</em></span>
          <span class="w21"><a href="/app/team/team_200.html"  target="_blank">纽卡斯尔联</a> </span>
          <span class="w22">31</span>
        </p>

</body></html>